.blue-bg {
  background-color: blue;
  width: 40vw;
  height: 100vh; /* Ensure this covers the full viewport height */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
}

.form-side {
  background-color: #ffffff;
}

.form-group input {
  background-color: #e1ebf5;
  text-align: right;
  direction: rtl;
  padding: 12px;
}

#LoginBtn {
  background-color: #0465ce;
  color: #ffffff;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 50px;
  border: 1px solid;
  border-color: #0465ce;
}

#LoginBtn:hover {
  background-color: #bfdfff;
}

#SignInBtn {
  background-color: #ffffff;
  padding: 10px 20px;
  width: 100%;
  color: #0465ce;
  border: 1px solid #0465ce;
  border-radius: 50px;
}

#SignInBtn:hover {
  background-color: #bfdfff;
}
